@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

b {
    font-weight: 600;
}

article {
    padding-bottom: 10px;
    border-bottom: 1px solid #bbbfc3;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: right;
}

header .hr {
    display: inline-block;
}

header .logo {
    text-align: left;
    float: left;
    font-size: 30px;
    margin-top: -10px;
}

article h1 {
    color: #464646;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
}

article h3 {
    color: #8c8c8c;
    font-weight:400;
    font-size: 16px;
}

article .current-work {
    font-weight:600;
}

.works {
    position: relative;
    width: 100%;
    text-align: center;
}

.works .item {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    height: 240px;
    padding: 20px;
    width: 32%;
    margin: 10px 5px;
    background: #eee;
}

footer {
    position: relative;
    width: 100%;
    padding: 20px 60px;
    text-align: center;
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .desc {
        padding: 2% 0;
        width: 100%;
    }

    header .logo {
        text-align: center;
        width: 100%;
    }

    header span {
        display: block;
    }

    header .hr {
        display: none;
    }

    header > .info {
        text-align: left;
    }

    .works .item {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 721px) and (max-width: 999px) {
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .desc {
        padding: 2% 0;
        width: 100%;
    }

    header .logo {
        text-align: center;
        float: left;
    }

    header > .info {
        text-align: right;
    }

    .works .item {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
    .wrapper {
        width: 980px;
        padding: 10px;
        margin: 0 auto;
    }

    .desc {
        padding: 12% 0;
        width: 100%;
    }

    header .logo {
        text-align: center;
        float: left;
    }

    header > .info {
        text-align: right;
    }
}

@media screen and (min-width: 1281px) {
    .wrapper {
        width: 1200px;
        padding: 10px;
        margin: 0 auto;
    }

    .desc {
        padding: 12% 0;
        width: 80%;
    }
}